mkdocs>=1.1.2
mkdocs-material>=6.1.0
mkdocs-minify-plugin>=0.3.0
mkdocs-git-revision-date-localized-plugin>=0.7.2
mkdocs-git-revision-date-plugin>=0.3
mkdocs-awesome-pages-plugin>=2.2.1
mkdocs-redirects>=1.0.1
mkdocs-macros-plugin>=0.4.18
