mkdocs-material>=9.7.1
mkdocs-minify-plugin>=0.7.2
mkdocs-git-revision-date-localized-plugin>=1.4.7
mkdocs-git-revision-date-plugin>=0.3.2
mkdocs-awesome-nav>=3.3.0
mkdocs-redirects>=1.2.1
mkdocs-macros-plugin>=1.0.5
